body {
    background: #ecf0f3;
    padding: 20px 50px;
}

.custom-card {
    height: 320px;
    background: rgb(231, 231, 231);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.cursor-pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

.delete-movie-button {
    position: absolute;
    top: 8px;
    right: 8px;
}

.card-main-div{
    position: relative;
}